body{
	background-color: #1a0036;
}

section{
	margin: 0 auto;
	width: 50vw;
	background: #f6f6ec;
	text-align: center;
	height: 95%;
	border: 10px solid #ff00ff;
}

ul{
	text-align: left;
	padding-left: 15vw;
	padding-right: 15vw;
}